<%- include("header") -%> 
<link rel="stylesheet" href="css/login.css" />
</head>
<body>
    
    <div class="log-body" style="color: aliceblue;">
        <div class="pic">
            <img src="../assets/images/New Logo 1.png" alt="" srcset="">
        </div>
        <div class="log-in">

            <div class="lines">
                <h2 >Login</h2>
                <h3>Log in with the admin Credentials</h3>
            </div>
        
        <form action="#">
            <p>E Mail ID</p>
            <input type="text" placeholder="Enter your E Mail ID">
            <p>Password</p>
            <input type="password" placeholder="Enter your Password">
            <br>
            <br>
            <button id="btn">Login</button>
        </form>
    </div>
    </div>
</body>
</html>