<div class="navbar">
    <div class="initial" id="initial">AB</div>
    <div class="links">
        <a href="./domain" title="Upload Questions">
            <img src="./assets/navbar/upload.svg" class="active" />
        </a>
        <a href="./review" title="View Answers">
            <img src="./assets/navbar/answers.svg" />
        </a>
        <a href="./result" title="Result">
            <img src="./assets/navbar/result.svg" />
        </a>
        <a href="./upload" title="Upload Task">
            <img src="./assets/navbar/task.svg" />
        </a>
        <a href="./edit" title="Edit">
            <img src="./assets/navbar/task.svg" />
        </a>
    </div>
    <div class="logout" title="Log Out">
        <img src="./assets/navbar/logout.svg" />
    </div>
</div>